body{
    font-family: 'Varela Round', sans-serif;
    background-image: url(../images/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
a:hover{
    box-shadow: 4px 5px 5px rgba(231, 49, 49, 0.3);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(255,0,0); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


.form-control {
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
}
.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 18px rgba(34, 139, 238, 0.3);
}

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
 }

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 10px;
    font-size: 20px;
    padding-right: 5px;
}
#lol{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
}
#node{
    margin-top: 5px;
    margin-right: 10px;
}

.navbar .navbar-brand b {
    font-weight: bold;
    color: #33cabb;		
}
.navbar .form-inline {
    display: inline-block;
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #888;
}
.search-box {
    position: relative;
}	
.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 8px !important;
    box-shadow: none
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: red;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-left: 15px;
    vertical-align: middle;
    border: none;
    border-radius: 30px;
}	

.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #33cabb;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #33cabb ;
}
.navbar .dropdown-menu {
    border-radius: 20px;
    border-color: #1de4e4;
    box-shadow: 0 12px 18px rgba(11, 119, 207, 0.5);
}
.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {		
    color: #33cabb;
    padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .form-wrapper  .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}	
.navbar  .btn-primary {
    background: #33cabb;
}
.navbar  .btn-primary:hover {
    background: #33cabb;
}
.navbar  .btn-info {
    background: #64ccf1;
}

.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}

#lll{
    margin-left: 60px;
}
.navbar .checkbox-inline {
    font-size: 13px;
}
.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}

#search-button{
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
    margin: 0px 0 0px 20px;
    padding: 3px 15px 3px 15px ;
    outline: none;
}
#search-button:hover{
    background-color: #33cabb;
    box-shadow: 4px 5px 5px rgba(231, 49, 49, 0.3);;
}

@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
